<a href="https://colab.research.google.com/github/mrudula1116/Innomatics-internships/blob/main/TASK2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#1 unique word count
sentence="python is easy and python is powerful"
words=sentence.split()
uniquewords=set(words)
len(uniquewords)
print(f"Unique words count: {len(uniquewords)}")
print(f"Unique words: {uniquewords}")

Unique words count: 5
Unique words: {'is', 'powerful', 'and', 'python', 'easy'}

In [9]:
#2 Highest salary from employee data
employee={"Ravi":75000,"Anita":68000,"Kiran":72000}
salary=0
for emp,sal in employee.items():
    if sal>salary:
        salary=sal
        name=emp
print(f"Highest salary is {salary} from {name}")

Highest salary is 75000 from Ravi

In [10]:
3 #find max and min numbers
numbers=[45,22,89,10,66]
max=numbers[0]
min=numbers[0]
for num in numbers:
    if num>max:
        max=num
    elif num<min:
        min=num

print(f"Max number is {max}")
print(f"Min number is {min}")

Max number is 89
Min number is 10

In [11]:
4 #count products above price threshold
prices=[450,1200,899,1500,300]
product=0
for price in prices:
    if price>1000:
        product+=1
print(f"Number of products above 1000 is {product}")

Number of products above 1000 is 2

In [12]:
5 #calculate attendance percentage
attendance=["P","P","A","P","P"]
attendance.count("P")
print(attendance.count("P"))
percentage=(attendance.count("P")/len(attendance))*100
print(f"Attendance percentage is {percentage}")

4
Attendance percentage is 80.0

In [13]:
6 #remove duplicate phone number
phone_number=[9876543210,9123456789,9876543210]
unique_numbers=set(phone_number)
print(unique_numbers)

{9876543210, 9123456789}

In [14]:
7 #count charachter frequency
text="pythonp"
char_freq={}
for char in text:
  if char in char_freq:
    char_freq[char]+=1
  else:
    char_freq[char]=1
print(char_freq)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [18]:
8 #convert list into tuple
list1=[10,20,30]
print("Tuple:",tuple(list1))

Tuple: (10, 20, 30)

In [19]:
9 #check if key exist in dictionary
employee={"Ravi":75000,"Anita":68000,"Kiran":72000}
key="Ravi"
if key in employee:
    print(f"{key} exist in dictionary")

Ravi exist in dictionary

In [20]:
10 #calculate average marks
marks=[80,65,70,75]
total=sum(marks)
count=len(marks)
average=total/count
print(f"Average marks is {average}")

Average marks is 72.5